.wrapper {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#right {
    max-width: 77%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid gray;
}

#left {
    max-width: 33%;
}