.container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4%;
}

.card {
    position: relative;
    min-height: 29vw;
    height: auto;
    max-width: 30%;
    box-shadow: 2px 4px 16px #00000014;
    border-radius: 5px;
    margin: 0 15px 4%;
    cursor: default;
}

.card:hover {
    box-shadow: 2px 4px 16px #00000029;
}

.card-header {
    display: block;
    height: 11rem;
    background-color: black;
    color: white;
    text-align: start; 
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-header .card-img {
    width: 50%;
}

.card-header .card-img img {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
}

.card-header-text {
    text-align: start;
}

.flex-text {
    display: flex;
    align-items: center;
}
.card-header-text h1 {
    font-size: 25px;
}
.flex-text h2 {
    font-size: 10px;
    margin: 0;
}

.flex-text span.add-icon {
    font-size: 19px;
    margin-top: 3px;
}

.flex-text span.price-icon {
    margin: 3px 3px 0 0;    
    font-size: 19px;
    margin-top: 3px;
}

/* Text Clamp */
.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    height: 5.5rem;
}

.card-body {
    padding: 0 10px;
}

.add-friend-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
    border: 1px solid gray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    height: 30px;
    cursor: pointer;
}